<h1>followed</h1>

<% @users.each do |user| %>
  <a>
    <%= link_to user.name, user_path(user) %>
    <%= link_to gravatar_for(@user, size: 40), user_path(user) %>
  </a>
  <br>
  <br>
  <br>
<% end %>